:root {
    --fg-color: rgba(255, 255, 255, 0.9);
    --bg-color: #2b2b2b;
    --highlight-primary: #008aff;
    --gradient: 
      linear-gradient(300deg, #ba4aff, rgba(186, 74, 255, 0) 70%), 
      linear-gradient(227deg, #008aff, rgba(0, 138, 255, 0) 70%),
      linear-gradient(104deg, #00ffc6, rgba(0, 255, 198, 0) 74%); 
    --nav-height: 3rem;
    --transition: 250ms ease-out;  
    --transition-long: 500ms ease-out; 
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


html {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 100;
    background-color: black;
    color: white;
}

body {
    padding-top: var(--nav-height);
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    color: var(--fg-color);
  }

/*Here goes responsiv navigation rules*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--nav-height);
    font-size: 1.5rem; 
    background: var(--bg-color);
    color: var(--fg-color);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content; 
    box-shadow: -2px 2px 8px 0px rgb(0 0 0 / 80%);
    border-bottom: 1px solid var(--highlight-primary);
    z-index: 1;
  }
  
  
  
  .logo {
    display: grid;
    place-content: center;
  
    padding: 0rem 1rem;
  
    color: var(--highlight-primary);
  }
  
  .logo > i {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 0.25rem;
  
    background: var(--highlight-primary);
    color: var(--bg-color);
  }
  
  
  
  
  header ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    padding: 0rem 1.5rem;
    list-style-type: none;
  }
  
  header ul > li {
    display: grid;
  
    padding: 0.5rem;
  }
  
  
  
  header a {
    display: flex;
    align-items: center;
  
    padding: 0rem 1.5rem;
    border-radius: 0.25rem;
  
    color: var(--fg-color);
    background-color: rgba(0, 0, 0, 0.1);
  
    text-decoration: none;
  
    transition: background-color var(--transition);
  }
  
  header a > i {
    margin-right: 0.5rem;
  
    color: var(--highlight-primary);
  
    font-size: 1rem;
  
    transition: color var(--transition);
  }
  
  header a:hover {
    background-color: var(--highlight-primary);
  }
  
  header a:hover > i {
    color: var(--bg-color);
  
    transition: color var(--transition);
  }
  
  
  
  
  
  #nav-toggle-label {
    display: none;
  
    cursor: pointer;
  }
  
  #nav-toggle {
    display: none;
  }
  
  /*End Responsive navigation*/




  .article {
    margin: 1rem;
    padding: 1rem;

  }
  
  h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 6em;
    text-align: center;
    padding-bottom: 1rem;
  }

p {
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
}


.gradient-textNoHover {
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: #CA4246;
    
    /* Create the gradient. */
     background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%, 
          #A7489B 83.333%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
    }
/* Box´s that holding the linear gradient examples */
section {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    height: 100%;
}


.image-wrapper {
    position: relative;
    border-radius: 12px;
    border: 1px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
  
  span {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25%;
    font-size: 1.6rem;
  }







  /* linear gradient examples */
  .wrapper-1 {
    background: linear-gradient(#e66465, #9198e5); 
  }
  
  .wrapper-2 {
    background: linear-gradient(45deg, #e66465, #9198e5);
  }

  .wrapper-3 {
    background: linear-gradient(45deg, #e66465, #9198e5, #12045b, #1afe49);
  }
  
  .wrapper-4 {
    background: linear-gradient(
      45deg,
      #e66465 0%,
      #9198e5 20%,
      #12045b 40%,
      #1afe49 80%
    );
  }

  .wrapper-5 {
    background: linear-gradient(90deg, green 33%, white 33%, white 66%, red 66%);
  }
  
  .wrapper-6 {
    background-image: repeating-linear-gradient(
      90deg,
      blue 20px,
      salmon 40px,
      red 80px,
      blue 120px
    );
  }
  .wrapper-7 {
    background-image: radial-gradient(red, black);
  }
  
  .wrapper-8 {
    background-image: repeating-radial-gradient(
      circle,
      red 0,
      red 30px,
      black 30px,
      black 60px
    );
  }
  .wrapper-9 {
    background: linear-gradient(yellow, red);
  }
  .wrapper-10 {
    background: linear-gradient(150deg, yellow, red);
  }
  .wrapper-11 {
    /* These two declarations do the same */
    background: radial-gradient(at 100% 100%, yellow, red);
    background: radial-gradient(at bottom right, yellow, red);
  }
  .wrapper-12 {
    background: radial-gradient(at 20% 70%, yellow, red);
  }
  .wrapper-13 {
    background: radial-gradient( yellow, red);
  }
  .wrapper-14 {
    background: radial-gradient(circle, yellow, red);
  }
  .wrapper-15 {
    background: radial-gradient(circle, lightpink, crimson, indigo);
  }
  .wrapper-16 {
    background: radial-gradient(circle closest-side, lightpink, crimson, indigo);
  }
  .wrapper-17 {
    background: radial-gradient(circle 120px at 30% 75%, lightpink, crimson, indigo);
  }
  .wrapper-18 {
    background: radial-gradient(lightpink, crimson, indigo);
  }
  .wrapper-19 {
    background: radial-gradient(closest-side, lightpink, crimson, indigo);
  }
  .wrapper-20 {
    background: radial-gradient(closest-side at 40% 65%, lightpink, crimson, indigo);
  }

  /*Media querys*/

  @media screen and (max-width: 768px) {
    header {
      justify-content: space-between;
      align-items: center;
    }

    h1 {
        font-size: 2em;
    }
    span {
        font-size: 1.2rem;
    }
  
    header nav {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 24rem;
      right: 0rem;
  
      padding-top: var(--nav-height);
      clip-path: circle(
          calc(var(--nav-height) / 3)
          at 
          calc(100% - var(--nav-height) / 2) 
          calc(0% + var(--nav-height) / 2)
      );
  
      background: var(--gradient);
      box-shadow: -2px 2px 8px 0px rgb(0 0 0 / 80%);
      
      transition: clip-path var(--transition-long), 
        background-color var(--transition-long);
  
    }
  
    header ul {
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      grid-template-rows: none;
      grid-auto-rows: max-content;
      gap: 0.5rem;
  
      padding: 0;
    }
  
    header a {
      place-content: flex-start;
  
      padding: 0.5rem 1.5rem;
    }
  
    header a > i {
      color: var(--bg-color);
    }
  
    header a:hover {
      background-color: var(--bg-color);
    }
  
    header a:hover > i {
      color: var(--highlight-primary);
    }
  
  
  
  
    #nav-toggle:checked + * + nav {
      clip-path: circle(150vmax at 100% 0%);
  
      background-color: var(--bg-color);
    }
  
    #nav-toggle-label {
      --size: calc(var(--nav-height) / 3);
      --bar-height: 2px;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: auto;
      
      width: var(--size);
      height: var(--size);
      margin-right: calc(var(--nav-height) / 3);
  
      z-index: 2;
    }
  
    #nav-toggle-label .bar {
      display: inline-block;
  
      height: var(--bar-height);
      width: 100%;
  
      background-color: var(--bg-color);
  
      transition: transform 250ms ease-out;
    }
  
    #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(1) {
      transform: 
        translate(0, calc(var(--size) / 2 - var(--bar-height) / 2)) 
        rotate(225deg);
    }
  
    #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(2) {
      transform: scaleX(0);
    }
  
    #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(3) {
      transform: 
        translate(0, calc(-1 * var(--size) / 2 + var(--bar-height) / 2)) 
        rotate(135deg);
    }
  }